@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;500;600&family=Overpass:ital,wght@0,100;0,200;0,300;1,100&display=swap');
@import "variables";

/*
    to use the fonts:
    font-family: 'Dosis', sans-serif;
    - dosis is for the header, it's the thicker font
    font-family: 'Overpass', sans-serif;
    -overpass is for copy and tab headings
*/




*, *::before, *::after{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    grid-template-areas: 
    'header',
    'nav',
    'content',
    'footer'
    ;
}


#content{
    grid-area: 'content';
    width: 100vw;
    height: 100vh;
}

/* header */
#header{
    grid-area: 'header';
    font-family: 'Dosis', 'Segoe UI', sans-serif;
    @include centeredBox('row');
    gap: 1em;
    margin-top: 1em;
    
    #header-image{
        height: 40px;
        width: 40px;
    }

    #header-title{
        font-style: oblique;
        color: $dark-orange;
    }
}

/* nav */
#nav{
    grid-area: 'nav';
}

/* footer */
#footer{
    grid-area: footer;
}