@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;500;600&family=Overpass:ital,wght@0,100;0,200;0,300;1,100&display=swap');
@import "variables";

/*
    to use the fonts:
    font-family: 'Dosis', sans-serif;
    - dosis is for the header, it's the thicker font
    font-family: 'Overpass', sans-serif;
    -overpass is for copy and tab headings
*/


*, *::before, *::after{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


/* header */
#header{
    background-color: $peach;
    font-family: 'Dosis', 'Segoe UI', sans-serif;
    @include centeredBox(row);
    gap: 1em;
    margin-top: 0.5em;
    
    #header-image{
        height: 40px;
        width: 40px;
    }

    #header-title{
        font-style: oblique;
        color: $dark-orange;
    }
}

/* nav */
#nav{
    background-color: $yellow;
    padding: 1rem;
    @include centeredBox(row);
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: space-around;

    .nv{
        @include centeredBox('row');
        gap: 2em;

        button{
            padding: 0.75rem 2rem;
            font-family: 'Overpass', 'Segoe UI', sans-serif;
            border-style: none;
            border-radius: 1em;
            background-color: $yellow;
            font-size: 1.05rem;
            color: $bright-orange;

            &:hover{
                cursor: pointer;
            }
        }
    }

}

/* footer */
#footer{
    @include centeredBox(row);
    font-family: 'Dosis', 'Segoe UI', sans-serif;
    padding: 1rem 1rem;
    top: 0;
    font-weight: thin;
    color: $dark-orange;


    a{
        @include centeredBox(row);
        gap: 1rem;
        text-decoration: none;

        img{
            width: 30px;
            height: 30px;
            filter: invert(50%) sepia(73%) saturate(842%) hue-rotate(316deg) brightness(104%) contrast(81%);
        }
    }
}