@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;500;600&family=Overpass:ital,wght@0,100;0,200;0,300;1,100&display=swap');
@import "variables";

/*
    to use the fonts:
    font-family: 'Dosis', sans-serif;
    - dosis is for the header, it's the thicker font
    font-family: 'Overpass', sans-serif;
    -overpass is for copy and tab headings
*/


*, *::before, *::after{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


/* header */
#header{
    
    font-family: 'Dosis', 'Segoe UI', sans-serif;
    @include centeredBox(row);
    gap: 1em;
    margin-top: 1em;
    
    #header-image{
        height: 40px;
        width: 40px;
    }

    #header-title{
        font-style: oblique;
        color: $dark-orange;
    }
}

/* nav */
#nav{
    
    @include centeredBox(row);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    justify-content: space-around;

    .nv{
        @include centeredBox('row');
        gap: 2em;

        button{
            padding: 0.75rem 2rem;
            font-family: 'Overpass', 'Segoe UI', sans-serif;
        }
    }

}

/* footer */
#footer{
    @include centeredBox(row);
    font-family: 'Dosis', 'Segoe UI', sans-serif;
    padding: 1rem 1rem;


    a{
        @include centeredBox(row);
        gap: 1rem;
        text-decoration: none;

        img{
            width: 30px;
            height: 30px;
        }
    }
}