@import "variables";

@mixin contactDetail{
    @include centeredBox(row);
    gap: 1rem;
    
    img{
        height: 2rem;
        width: 2rem;
        filter: invert(93%) sepia(8%) saturate(1747%) hue-rotate(306deg) brightness(97%) contrast(113%);
    }
}

@mixin copyFont($size){
    font-family: 'Overpass', 'Segoe UI', sans-serif;
    font-size: $size;
}

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 
    'header'
    'nav'
    'content'
    'footer'
    ;
    background-color: $peach;
}

#header{
    grid-area: header;
}

#nav{
    grid-area: nav;
}

#footer{
    grid-area: footer;
}

#content{
    //@include centeredBox(column)
    grid-area: content;
}

#home-title{
    @include copyFont(2rem);
    @include centeredBox(row);
    margin: 1rem;
    padding: 0.5em;
    font-weight: bolder;
    font-style: italic;
    color: $yellow;
    box-shadow: rgba(0, 0, 0, 0.6);
    background-color: $blue;
    border-radius: 0.75em;
}

#hero-slider{
    width: 100%;
    height: 80vh;
    //background-image: url('../../img/slider-image4.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include centeredBox('row');

    div{
        @include centeredBox('column');
        flex-direction: column;
        gap: 1rem;
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
    }

    animation: fadeIn 5s infinite ease-in-out;
}

#home-overlay{

    #overlay-text{
        @include copyFont(2.15rem);
        font-style: italic;
        color: $bright-orange;
        font-weight: bolder;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 0.25rem;
        border-radius: 0.5rem;
    }

    #overlay-btn{
        padding: 0.75rem 2.15rem;
        border-radius: 1em;
        @include copyFont(1rem);
        background-color: $yellow;
        border-style: none;
        color: $bright-orange;

        &:hover{
            cursor: pointer;
        }
    }

}


//contact.js
#contact-main{
    display: grid;
    grid-template-areas: 
    'contact-title contact-title'
    'contact-left contact-right'
    ;
    gap: 1.5rem;
}

#contact-title{
    grid-area: contact-title;
    @include copyFont(2rem);
    @include centeredBox(column);
    margin: 0.5rem;
    padding: 0.5em;
    font-weight: bolder;
    font-style: italic;
    color: $yellow;
    box-shadow: rgba(0, 0, 0, 0.6);
    background-color: $blue;
    border-radius: 0.75em;
    gap: 0.75rem;

    #contact-call{
        font-family: 'Dosis', 'Segoe UI', sans-serif;
        font-style: italic;
        font-size: 1rem;;
    }

    #cTitle-main{
        @include copyFont(2rem);
        font-weight: lighter;
    }
}

#contact-left{
    grid-area: contact-left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2.5rem;
    margin: 1.25rem 2rem;
    padding: 2.5rem;
    @include copyFont(1.15rem);
    background-color: $dark-orange;
    border-radius: 1em;
    color: $peach;

    #hours-service{
        @include contactDetail();
    }

    #contact-location{
        @include contactDetail();
    }

    #contact-phone{
        @include contactDetail()
    }
}

#contact-form{
    grid-area: contact-right;

    @include centeredBox(column);
    gap: 1.5rem;
    margin: 1.25rem 2rem;

    input{
        padding: 1rem;
        width: 20rem;
        @include copyFont(0.95rem);
        border-radius: 0.5rem;
        border-style: none;
        color: $blue;

        &:focus{
            outline: 2px solid $dark-orange;
        }
    }

    textarea{
        padding: 1rem;
        width: 20rem;
        @include copyFont(0.95rem);
        border-radius: 0.5rem;
        border-style: none;
        color: $blue;

        &:focus{
            outline: 2px solid $dark-orange;
        }
    
    }

    button{
        padding: 1rem;
        width: 20rem;
        @include copyFont(1rem);
        border-radius: 0.5rem;
        border-style: none;
        background-color: $dark-orange;
        color: $peach;
        opacity: 0.3;

        &:hover{
            cursor: pointer;
            opacity: 0.9;

        }
    }

    #contact-message{
        height: 10rem;
        width: 20rem;
        @include copyFont(1rem);
        padding: 0.75rem;
    }
}

#socials-box{
    @include centeredBox(column);
    gap: 1rem;
    margin-top: 0.25rem;
    background-color: $blue;
    opacity: 0.8;
    padding: 1rem;

    #socials-title{
        font-family: 'Dosis', 'Segoe UI', sans-serif;
        font-style: italic;
        font-size: 1.15rem;
        color: $yellow;
        }

    #icon-container{
        @include centeredBox(row);
        gap: 5.5rem;

        a{

            img{
                height: 2.5rem;
                width: 2.5rem;
            }

            &:hover{
                cursor: pointer;
            }
        }
    }
}

#contact-map{
    margin-top: 2rem;
    margin-bottom: 2rem;
    @include centeredBox(row);
    background-image: url("../../img/greenville-map.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8rem;

    #map-text{
        padding: 1rem 1.25rem;
        border-radius: 1.25rem;
        background-color: $yellow;
        opacity: 0.8;
        @include copyFont(0.95rem);
        border-style: none;
        border-width: thin;
        color: $blue;
        font-weight: bold;

        &:hover{
            cursor: pointer;
            font-weight: bolder;
            background-color: $bright-orange; 
            opacity: 0.9;
        }
    }
}

//menu.js
#menu-container{
    @include centeredBox(column);
    gap: 2rem;
    margin: 2rem;
    background-color: $dark-orange;
    padding: 1.5rem;
    border-radius: 0.5rem;
    color: $yellow;

    #menu-title{
        @include copyFont(2rem);
        font-weight: lighter;
    }

    .sub-title{
        @include copyFont(1.15rem);
    }

    div{
        @include centeredBox(column);
        gap: 0.75rem;
        background-color: $blue;
        padding: 1.5rem;
        border-radius: 0.5rem;

        .menu-item{
            @include centeredBox(column);
            gap: 0.5rem;
            @include copyFont(0.95rem);

            .menu-title{
                @include copyFont(1rem);
                font-style: oblique;
                font-weight: bolder;
            }
        }
    }
}

//about
#about-container{
    @include centeredBox(column);
    padding: 5rem 8rem;
    gap: 3rem;
    background-color: $blue;
    color: $peach;


    #about-title{
        @include copyFont(2rem);
        font-weight: lighter;
    }

    #about-block{
        @include centeredBox(column);
        gap: 4rem;

        div{
            @include copyFont(1.25rem)
            
        }

    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    
    15% {
        opacity: 0.8;
    }

    90% {
        opacity: 0.8;
    }

    100% {
        opacity: 0;
    }
}